body, html {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa; 
  }
  header{
    width: 90%;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 20px;
    box-shadow: 1px 1px 3px rgba(0.2, 0.2, 0.2, 0.2);
}
nav ul{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 100px;
    list-style: none;
    font-size:x-large;
    font-family: Montserrat; 
}
nav ul li  a{
  text-decoration: none;
  color: black;
  padding: 10px;
}
header .logo{
   margin-left: 3%;
    color: red;
}
.active{
    background-color: #93e1d8;
    border-radius: 6px;
}
  section {
    width: 100%;
    max-width: 1500px;
    height: 50vh;
    background-color: #ffffff; 
    border-radius: 8px;
  }
  table {
    width: 70%;
    border-collapse: collapse;
    height: auto;
    margin-top: 20px;
    margin-left: 15%;
  }
  
 .task-column {
    width: 80%;
}
.action-column {
    width: 20%; 
    text-align: right; 
}
 thead {
    background-color: #e9e7e7;
    color: black; 
  }
  th {
    padding: 12px;
    text-align: left;
  }
  td {
    padding: 12px;
    border-bottom: 1px solid #dee2e6; 
  }
  input[type="checkbox"] {
    margin-right: 10px;
  }
  .icon {
    cursor: pointer; 
    margin-right: 10px;
    color: #007bff;
    float: right;
}
h2{
  margin-left: 15%;
}

#edit{
    color:blue;
}
#delete{
    margin-left: 10%;
    color: red;
}
.creatTask{
  width: 50%;
  height: 100px;
  display: none;
  
}
#creatTask{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 10px;
}
#creatTask input[type='text']{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px; 
  box-sizing: border-box; 
}
#creatTask button[type='submit'] {
  background-color: #007bff;
  color: #fff; 
  padding: 10px 20px; 
  border: none;
  border-radius: 5px; 
  cursor: pointer; 
}
.updateTask{
  width: 50%;
  height: 100px;
  display: none;
}
#updateTask{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 10px;
}
#updateTask input[type='text'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px; 
  box-sizing: border-box; 
}
#updateTask button[type='submit'] {
  background-color: #007bff;
  color: #fff; 
  padding: 10px 20px; 
  border: none;
  border-radius: 5px; 
  cursor: pointer; 
}
.search{
  width: 50%;
  height: 100px;
  /* display: none; */
}

#search{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 10px;
}
#search input[type='text'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px; 
  box-sizing: border-box; 
}
#search button[type='submit'] {
  background-color: #007bff;
  color: #fff; 
  padding: 10px 20px; 
  border: none;
  border-radius: 5px; 
  cursor: pointer; 
}